<nav class="navbar">
  <div class="navbar__inner">

    <!-- Logo -->
    <a class="navbar__logo" routerLink="/">
      <svg class="navbar__logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
        <path d="M2 20v-8a2 2 0 0 1 2-2h1V8a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v2h1a2 2 0 0 1 2 2v8h-2v-2H4v2H2zm4-10h12V8H6v2zm-2 6h16v-4a.5.5 0 0 0-.5-.5H4.5A.5.5 0 0 0 4 12v4z"/>
      </svg>
      <span class="navbar__logo-text">TravelHub</span>
    </a>

    <!-- Search -->
    <div class="navbar__search">
      <svg class="navbar__search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11zM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9z" clip-rule="evenodd"/>
      </svg>
      <input class="navbar__search-input" type="text" placeholder="Search bookings..." />
    </div>

    <!-- Actions -->
    <div class="navbar__actions">
      <a class="navbar__link" routerLink="/bookings" routerLinkActive="navbar__link--active">Mis reservas</a>
      <a class="navbar__link" routerLink="/favorites" routerLinkActive="navbar__link--active">Favoritos</a>

      <div class="navbar__auth">
        <a class="navbar__link" routerLink="/auth/login">Iniciar sesión</a>
        <a class="navbar__btn-primary" routerLink="/auth/register">Registrarse</a>
      </div>
    </div>

  </div>
</nav>
