<div class="rooms-table-container">
  <div class="rooms-header">
    <h2>Mis hospedajes</h2>
    <button class="btn-primary" (click)="openFormModal()">Crear hospedaje</button>
  </div>

  
  <table class="rooms-table">
    <thead>
      <tr>
        <th class="col-center">Número</th>
        <th>Descripción</th>
        <th class="col-center">Capacidad</th>
        <!-- <th>Precio inicio /<br>fin de fecha</th> -->
        <th>Impuestos</th>
        <th class="col-right">Precio</th>
      </tr>
    </thead>
    <tbody>
      @if (loading) {
        <tr>
          <td colspan="6" class="col-center">Cargando hospedajes...</td>
        </tr>
      }
      @for (room of rooms; track room.id) {
        <tr>
          <td class="col-center col-number">{{ room.numero }}</td>
          <td class="col-desc">{{ room.descripcion || 'Sin descripción' }}</td>
          <td class="col-center">{{ room.capacidad }}</td>
          <!-- <td class="col-dates">- /<br>-</td> -->
          <td class="col-taxes">{{ room.impuestos | currency:'COP':'$':'1.0-0' }}</td>
          <td class="col-right col-price">{{ room.monto | currency:'COP':'$':'1.0-0' }}</td>
        </tr>
      }
      @if (!loading && rooms.length === 0) {
        <tr>
          <td colspan="6" class="col-center">No hay hospedajes registrados.</td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (isFormModalOpen) {
  <app-room-form-modal (closeModal)="closeFormModal()"></app-room-form-modal>
}
