//
//  Debug.xcconfig
//  TravelHub
//
//  Created by Andres Donoso on 29/03/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// $() se resuelve a /
//BASE_URL = http:$()/localhost:8080/api
BASE_URL = https://da8n5gsw578s6.cloudfront.net/api
